body
{
	margin: auto;
}

header
{
	background-color: #875080;
	text-align: center;
	height: 50px;
}

nav
{
	background-color: #C2A6BF;
	height: 300px;
	width: 75%;
	float: left;
}

main
{
	background-color: #A1759C;
	height: 300px;
	width: 25%;
	float: left;
}

footer
{
	clear: left;
	background-color: #875080;
	text-align: right;;
}
